<div ng-controller="globeController as globe" class="ten column row">
  <div class="column"></div>
  <div class="eight wide column" id="container">
    <script src="../../../bower_components/threejs/examples/js/controls/OrbitControls.js" async></script>
    <script src="../../../bower_components/threejs/examples/js/renderers/Projector.js" async></script>
    <script src="../../../bower_components/threejs/examples/js/renderers/CanvasRenderer.js" async></script>  
    <script src="../../../data/locationData.json" async></script>
    <script src="../../../data/processLocation.js" async></script>
    <script src="../../../data/globe.js" async></script>
  </div>
</div>
